# Welcome to your notebook of Python coding problems!

Here are a good number of problems for many topics in Python. Take your time to go through each section.

For each question, there will be Statement which states clearly the problem description, Example Input which shows the example of expected input(s) for your program and Example output which shows the expected result for that specific input(s).

# Part 1. Data Types

## 1. Numbers

### 1.1. Apple Sharing

####Statement


N students take K apples and distribute them among each other evenly. The remaining (the undivisible) part remains in the basket. How many apples will each single student get? How many apples will remain in the basket?

The program reads the numbers N and K. It should print the two answers for the questions above.

======

####Example input
```
6
50
```
======

####Example output
```
8
2
```

In [ ]:
# Your code here
N=int(input('Number of students : '))
K=int(input('Number of apples : '))
print(int(K/N))
print(K%N)

Number of students : 6
Number of apples : 50
8
2

### 1.2 Car route

#### Statement

A car can cover distance of N kilometers per day. How many days will it take to cover a route of length M kilometers? The program gets two numbers: N and M.

======

#### Example input

```
700
750
```

======

#### Example output

```
2
```

In [ ]:
# Your code here
N=int(input('Distance per day :'))
M=int(input('Route length : '))
import math
print(math.ceil(M/N))

Distance per day :700
Route length : 750
2

### 1.3. Total cost

####Statement


A cupcake costs **A** dollars and **B** cents. Determine, how many dollars and cents should one pay for **N** cupcakes. A program gets three numbers: **A, B, N**. It should print two numbers: total cost in dollars and cents.

======

####Example input 1
```
10
15
2
```
======

####Example output 1
```
20
30
```
======

####Example input 2
```
10
40
4
```
======

####Example output 2
```
41
60
```

In [ ]:
# Your code here
A=int(input('Dollar : '))
B=int(input('Cents : '))/100
N=int(input('Number of cupcakes : '))
Total_cost=(A+B)*N
print(int(Total_cost))
print(int((float(Total_cost)-int(Total_cost))*100))

Dollar : 10
Cents : 15
Number of cupcakes : 2
20
30

### 1.4. Sum of three numbers

#### Statement


Write a program that takes three numbers and prints their sum. Every number is given on a separate line.

======

#### Example input
```
2
3
6
```
======

#### Example output
```
11
```

In [ ]:
# Your code here
num1=int(input('Number 1 = '))
num2=int(input('Number 2 = '))
num3=int(input('Number 3 = '))
sum=num1+num2+num3
print(sum)

Number 1 = 2
Number 2 = 3
Number 3 = 6
11

### 1.5. Previous and next

#### Statement



Write a program that reads an integer number and prints its previous and next numbers. See the example below.

======

#### Example input
```
179
```
======

#### Example output
```
The next number for the number 179 is 180
The previous number for the number 179 is 178
```

In [ ]:
# Your code here
numOG=int(input('Your number here :'))
print('The next number for the number ',numOG,' is ',numOG+1)
print('The previous number for the number ',numOG,' is ',numOG-1)

Your number here :179
The next number for the number  179  is  180
The previous number for the number  179  is  178

## 2. Strings

### 2.1. Hi person name

#### Statement


Write a program that greets the person by printing the word "Hi" and the name of the person.

======

#### Example input
```
John
```
======

#### Example output
```
Hi John
```

In [ ]:
# Your code here
name=input('Your name is : ')
print('Hi ',name)

Your name is : Phanh
Hi  Phanh

### 2.2. Slices

####Statement



You are given a string.

1.  In the first line, print the third character of this string.

2.  In the second line, print the second to last character of this string.

3.  In the third line, print the first five characters of this string.

4.  In the fourth line, print all but the last two characters of this string.

5.  In the fifth line, print all the characters of this string with even indices (remember indexing starts at 0, so the characters are displayed starting with the first).

6.  In the sixth line, print all the characters of this string with odd indices (i.e. starting with the second character in the string).

7.  In the seventh line, print all the characters of the string in reverse order.

8.  In the eighth line, print every second character of the string in reverse order, starting from the last one.

9.  In the ninth line, print the length of the given string.

======

####Example input
```
Abrakadabra
```
======

####Example output
```
r
r
Abrak
Abrakadab
Arkdba
baaar
arbadakarbA
abdkrA
11
```

In [ ]:
# Your Code Here
ha='Abrakadabra'
print(ha[2])
print(ha[-2])
print(ha[:5:1])
print(ha[:len(ha)-2])
print(ha[:len(ha):2])
print(ha[1:len(ha):2])
print(ha[::-1])
print(ha[len(ha)::-2])
#print(ha[len(ha):0:-2]) - s khum dc?
print(len(ha))

r
r
Abrak
Abrakadab
Arkdba
baaar
arbadakarbA
abdkrA
11

### 2.3. Two halves

####Statement


Given a string, cut it into two equal parts. If the length of the string is odd, leave the middle character within the first chunk, so that the first string contains one more character than the second. Now print a new string on a single row with the first and second halves swapped: second half first and the first half last.

Can you solve it without using if?


======

####Example input
```
Qwerty
```
======

####Example output
```
rtyQwe
```

In [ ]:
# Your code here
ha=input()
mid=int(len(ha)/2)
if len(ha)%2==0:
  print(ha[mid:len(ha):1]+ha[0:mid:1])
else :
  print(ha[(mid+1):len(ha):1]+ha[:(mid+1):1])

Qwertyu
tyuQwer

# Part 2. Conditionals

### 1. Minimum of two numbers

####Statement



Given the two integers, print the least of them.

======

####Example input
```
3
7
```
======

####Example output
```
3
```

In [ ]:
a = int(input())
b = int(input())
# Your code here
print(min(a,b))

100
53
53

### 2. Minimum of three numbers

####Statement


Given three integers, print the least of them.

======

####Example input
```
5
3
7
```
======

####Example output
```
3
```

In [ ]:
a = int(input())
b = int(input())
c = int(input())

# Your code here
print(min(a,b,c))

32
43
35
32

# Part 3. Bonus Questions :)

These bonus questions are slightly more complicated and challenging to solve than above questions so takes your time to do them.

### 0. Bonus: Leap year

####Statement


Given the year number. You need to check if this year is a leap year. If it is, print "LEAP", otherwise print "COMMON".
The rules in Gregorian calendar are as follows:

- A year is a leap year if its number is exactly divisible by 4 and is not exactly divisible by 100

- A year is always a leap year if its number is exactly divisible by 400

======

####Example input 1
```
2012
```
======

####Example output 1
```
LEAP
```
======

####Example input 2
```
2011
```
======

####Example output 2
```
COMMON
```

In [ ]:
# Your Code Here

year=int(input('Type year here : '))
if year%400==0 :
  print('LEAP')
elif year%4==0 and year%100>0 :
  print('LEAP')
else :
  print('COMMON')

Type year here : 2023
COMMON

### 1. Bonus: Clock face - 1

####Statement


H hours, M minutes and S seconds are passed since the midnight (0 ≤ H < 12, 0 ≤ M < 60, 0 ≤ S < 60). Determine the angle (in degrees) of the hour hand on the clock face right now.

======

####Example input 1
```
1
0
0
```
======

####Example output 1
```
30
```
======

####Example input 2
```
7
18
49
```
======

####Example output 2
```
219.408
```

In [ ]:
H = int(input())
M = int(input())
S = int(input())
# Your Code Here

hour= H + M/60 + S/3600
print(hour*30)

### 2. Bonus: Clock face - 2

####Statement


Hour hand turned by α degrees since the midnight. Determine the angle by which minute hand turned since the midnight. Input and output in this problems are floating-point numbers.

======

####Example input 1
```
190
```
======

####Example output 1
```
120
```
======

####Example input 2
```
15
```
======

####Example output 2
```
180
```
======

####Example input 3
```
300
```
======

####Example output 3
```
0
```

In [ ]:
# Your Code Here
H=int(input('Hour hand degrees are '))
min_sec=float(H%30)
ang_min=(6*min_sec*((60*12)/360))%360
print(ang_min)

### 3. Bonus: Rook move

####Statement


Chess rook moves horizontally or vertically. Given two different cells of the chessboard, determine whether a rook can go from the first cell to the second in one move.

The program receives the input of four numbers from 1 to 8, each specifying the column and row number, first two - for the first cell, and then the last two - for the second cell. The program should output YES if a rook can go from the first cell to the second in one move, or NO otherwise.

<img src="https://snakify.org/static/images/problems/rook_move.png" width=600>

======

####Example input 1
```
4
4
5
5
```
======

####Example output 1
```
NO
```
======

####Example input 2
```
1
1
8
1
```
======

####Example output 2
```
YES
```
======

####Example input 3
```
8
1
1
8
```
======

####Example output 3
```
NO
```

In [ ]:
x1 = int(input())
y1 = int(input())
x2 = int(input())
y2 = int(input())

# YOUR CODE
if x1==x2 and y1==y2:
  print('NO')
elif x1==x2 or y1==y2:
  print('YES')
else :
  print('NO')

### 4. Bonus: Chess board - same color

####Statement

Given two cells of a chessboard. If they are painted in one color, print the word YES, and if in a different color - NO.

The program receives the input of four numbers from 1 to 8, each specifying the column and row number, first two - for the first cell, and then the last two - for the second cell.

<img src="https://snakify.org/static/images/problems/chess_board.png" width=600>

======

####Example input 1
```
1
1
2
6
```
======

####Example output 1
```
YES
```
======

####Example input 2

```
2
3
4
5
```

======

####Example output 2
```
YES
```
======

####Example input 3
```
2
3
8
8
```
======

####Example output 3
```
NO
```

In [ ]:
# Your Code Here
#x va y cung chan, cung le => o black / x va y chan le khac nhau => o white
x1 = int(input())
y1 = int(input())
x2 = int(input())
y2 = int(input())

if ((x1+y1)%2==0 and (x2+y2)%2==1) or ((x1+y1)%2==1 and (x2+y2)%2==0):
  print('NO')
else:
  print('YES')

### 5. Bonus: Knight move

####Statement

Chess knight moves like the letter L. It can move two cells horizontally and one cell vertically, or two cells vertically and one cells horizontally. Given two different cells of the chessboard, determine whether a knight can go from the first cell to the second in one move.

The program receives the input of four numbers from 1 to 8, each specifying the column and row number, first two - for the first cell, and then the last two - for the second cell. The program should output YES if a knight can go from the first cell to the second in one move, or NO otherwise.

<img src="https://snakify.org/static/images/problems/knight_move.png" width=600>

======

####Example input 1
```
1
1
1
4
```
======

####Example output 1
```
NO
```
======

####Example input 2

```
2
4
3
2
```

======

####Example output 2
```
YES
```
======

####Example input 3
```
2
8
3
7
```
======

####Example output 3
```
NO
```

In [ ]:
# Your Code Here
x1 = int(input())
y1 = int(input())
x2 = int(input())
y2 = int(input())
if abs(x1-x2)==2 and abs(y1-y2)==1:
  print('YES')
elif abs(x1-x2)==1 and abs(y1-y2)==2:
  print('YES')
else :
  print('NO')

2
8
3
7
NO

### 6. Bonus: Vertices of rectangle

####Statement

Given integer coordinates of three vertices of a rectangle whose sides are parallel to the coordinate axes, find the coordinates of the fourth vertex of the rectangle. In the first test the three given vertices are (1, 4), (1, 6), (7, 4). The fourth vertex is thus (7, 6).

======

####Example input 1
```
1
4
1
6
7
4
```
======

####Example output 1
```
7
6
```
======

####Example input 2

```
3
7
3
15
10
7
```

======

####Example output 2
```
10
15
```

In [ ]:
# Your Code Here

x1 = int(input())
y1 = int(input())
x2 = int(input())
y2 = int(input())
x3 = int(input())
y3 = int(input())

if abs(x1)==abs(x2):
  print('(',abs(x3),',',abs(y2),')')
else :
    print('(',abs(x3-x1)+x2,',',abs(y3-y1)+y2,')')

3
7
3
15
10
7
( 10 , 15 )