# **PYTHON 101 - DAY 1**

# Before you start: File â–¸ Save a Copy in Drive

<img src="https://files.realpython.com/media/python-basics-wide2.f73a9e9bf9b8.jpg" width=600>

Welcome to PYTHON 101. In this course, we will use **Google Colab** platform to experiment your code, build Data Analysis and Machine Learning projects in a simple way.

Within this lecture, we will employ Google Colab as a ***playground*** to practice the concept, as well as, a platform to ***exercise***.

Welcome aboard and happy coding!


-----------



For the first session, we will learn these materials:

1. Syntax, Variables, and Literals
3. Conditionals

## Part 0. Getting to know Colab notebook

If you want to know more about Colab notebook, [HERE](https://www.tutorialspoint.com/google_colab/google_colab_quick_guide.htm) is a link to a quick guide tutorial.

In [ ]:
# Small examples of how to run a code cell
print('Hello World!')

Hello World!

In [ ]:
# This is an example of a comment
# You can make it using '#' in front of the line
# What do you think is the use of the comments?
# Pop-up quiz

## Part 1. Syntax, Variables, and Numbers

![]()


### 1. PRINT FUNCTION

Print a message on the screen.

In [ ]:
# Print the constant string: "Hello, World!"
print("Hello, World!")

Hello, World!

![]()

### 2. CONSTANTS, VARIABLES, AND DATA TYPES

#### 1. CONSTANTS

A constant is a type of variable whose value cannot be changed.

In [ ]:
# Print the constant number 2021
print(2021)

2021

In [ ]:
# Print the string: 'We are not talented upclose'
print('We are not talented upclose')

We are not talented upclose

#### 2. VARIABLES

A variable is a named location used to store data in the memory.

In [ ]:
# Assign the pi number to a variable called pi
piz = 3.14

In [ ]:
# What happens when you run the code above?
# Why can't we see anything?
# Pop-up quiz
print(piz)

3.14

In [ ]:
3 = 3.14

SyntaxError: ignored

In [ ]:
# Naming variable rule

In [ ]:
# Assign the constant value 'Hello, World!'
hi = 'Hello, World!'
# Display the variable hello out
print(hi)

Hello, World!

In [ ]:
# Assign the constant values 3 and 4 with the corresponding variables c, d
c, d = 3, 4

In [ ]:
print(c, d)

3 4

In [ ]:
# Let's create a variable name 'cat_fur' that contains the value 'black'
cat_fur = 'black'

In [ ]:
# Variable name is case sensitive
# What will happen if we try to run the code below?
# Pop-up quiz
print(cat_fur)

black

#### 3. NUMBERS

Numeric data types can belong to 2 different numerical types: `int` and `float`.

In [ ]:
# type() will return the type of your data
type(4)

int

In [ ]:
type(0.14556)

float

In [ ]:
# int() can be used to change the type of your data
# Convert float to int
int(3.14)

3

In [ ]:
# Convert int to float
float(3)

3.0

In [ ]:
# Assign the value 5 to the variable name score
# Pop-up quiz
ryan_score = 5

In [ ]:
# We can also performs variable reassignment
# Increase score by 1
ryan_score = ryan_score + 1

In [ ]:
print(ryan_score)

6

In [ ]:
# What happens if I run the cell above again?

In [ ]:
ryan_score * 2
ryan_score / 2

3.0

In [ ]:
print(ryan_score *2)
print(ryan_score/2)

12
3.0

In [ ]:
ryan_score * 2

12

In [ ]:
# How about other math operations like multiplications and division?
print(ryan_score * 2)

12

In [ ]:
print(ryan_score/2)

3.0

In [ ]:
# Beside the basic mathematics operations, we can also get the remainder by using %
# Find the remainder when divide score by 5
ryan_score  % 5

1

#### 4. STRINGS

A string literal is a sequence of characters surrounded by quotes. We can use both single, double, or triple quotes for a string.

In [ ]:
print('Hello, World!')

Hello, World!

In [ ]:
# Print out the string 'Coding is fun!'
print("Coding is fun!")

Coding is fun!

In [ ]:
# Let's do it!
print("Let's do it!")

Let's do it!

In [ ]:
# Triple quotes is used when you want to print out a string in different line
print("""Tri
is
fun
""")

Tri
is
fun

In [ ]:
# Assign a new value DePauw to the variable SCHOOL
# Pop-up quiz
SCHOOL = 'DePauw'
print(SCHOOL)

DePauw

In [ ]:
# Let's check the type of the variable SCHOOL
print(type(SCHOOL))

<class 'str'>

In [ ]:
# New function: len() is used to get the length of our string
print(len(SCHOOL))

6

In [ ]:
print(len(SCHOOL))

6

Strings are ordered sequences of character data.

**Indexing** allows you to access individual characters in a string directly by using a numeric value.

PYTHON starts the indexing at 0.

In [ ]:
fruit = 'Dragonfruit'
fruit[:7:2]

'Daof'

In [ ]:
SCHOOL

'DePauw'

In [ ]:
# Choose the 5th character
SCHOOL[4]

'u'

In [ ]:
# Choose the 8th character
# Pop-up quiz
SCHOOL[5]

'w'

In [ ]:
# Choose the last character of the string
SCHOOL[-1]

'w'

In [ ]:
# Choose the second last character of the string
# Pop-up quiz
SCHOOL[-2]
# SCHOOL[len(SCHOOL)-1]

'u'

![](https://www.learnbyexample.org/wp-content/uploads/python/Python-String-Slicing-Syntax.png)

In [ ]:
# Choose all the character before the 5th character
SCHOOL[1:4]

'ePa'

In [ ]:
SCHOOL[0:4:1]

'DePa'

In [ ]:
SCHOOL[0:4:2]

'DP'

In [ ]:
# Choose everything
SCHOOL[:]

'DePauw'

In [ ]:
# Choose every letters in the even index in the string
SCHOOL[::2]

'DPu'

In [ ]:
# Choose everything but backward
SCHOOL[::-1]

'wuaPeD'

In [ ]:
# Choose only the 'School' part
# Pop-up quiz
SCHOOL[5:]

'w'

In [ ]:
hi = 'HELLO'
school = 'DePauw'

In [ ]:
'HELLO'+'DePauw'

'HELLODePauw'

In [ ]:
# Display the two separated strings together: 'HELLO' and 'DePauw'
print(hi + ' ' + school)
# What happen if we don't have the extra white spaces after HELLO?
# Pop-up quiz

HELLO DePauw

In [ ]:
print(hi, school)

HELLO DePauw

In [ ]:
# Strings are immutable. What does it mean?
SCHOOL
#DePauw

# Try changing the fifth character of the string SCHOOL into a 'c'
SCHOOL[0] = 'c'

TypeError: ignored

In [ ]:
# Like the numeral literals, string literals can also be convert to other type of data (if possible)
a = '3.1255'
print(a)
print(type(a))

3.1255
<class 'str'>

In [ ]:
b = float(a)
print(b)

3.1255

In [ ]:
print(type(b))

<class 'float'>

In [ ]:
# Pop-up quiz
a = '12'
b = '25'
# What is the result of the line of code below?
print(a + b)

1225

In [ ]:
print(int(a) + int(b))

37

#### 5. BOOLEANS

A Boolean literal can have any of the two values: `True` or `False`.

In [ ]:
a = 5
b = 6

In [ ]:
# Compare a and b
print(a > b)

False

In [ ]:
# Is True equal to 1?
print(True == 1)

True

In [ ]:
print(int(True))

1

In [ ]:
# Is False equal to 0?
print(False == 1)

False

In [ ]:
# Operations on booleans
True + True + False

2

In [ ]:
# What do think is the result of this operations?
# Pop-up quiz
(True * False) + True

1

### 3. INPUT() AND MORE ON PRINT()

input() function will allow user input

In [ ]:
print('Hello, Phuong Anh')

Hello, Phuong Anh

In [ ]:
name = input('Your name here: ')
print('Hello', name)

Your name here: Phanh
Hello Phanh

In [ ]:
# input() will return everything as a string
n = int(input('Number please'))
print(type(n))
print(int(n) + 8)
# Can you guess the result of the code above? Let's say the number is 7

# Pop-up quiz

Number please9
<class 'int'>
17

In [ ]:
# To display a number and string together, you will have to change the number into a string type
n = 4
'The number I like is: ' + str(n)
print('The number I like is:' + ' ' + str(n))
print('The number I like is:', n)

The number I like is: 4
The number I like is: 4

In [ ]:
print(4)

4

In [ ]:
n = 2021
print(n)

2021

In [ ]:
type(n)

int

## Part 2. Conditionals

![]()

In [ ]:
# Write a program that:
# Let the user input the number of cats they have
# If the number of cats is 0, message "Cat is cute, get one!"
# If the number of cats is 1, message "Lovely!"
# If the number of cats above 1 to under 5, message "Happy family"
# From 5 and above, "Is cat going to rule the world?"

cats = int(input('Please enter the number of cats: '))
if cats == 0:
  print('Cat is cute, get one!')
elif cats == 1:
  print('Lovely!')
elif cats < 5:
  print('Happy Family!')
else:
  print('Is cat going to rule the world?')

Please enter the number of cats: 10

In [ ]:
if cats == 0:
  print('get one')
else:
  print('Yay')

## Discussion

**Question 1:**

Can you figure out what this code try to do ?

```python
course_amount = 0

# registered for 4 courses: fullstack web, machine learning, project management, flutter
course_amount = course_amount + 4

course_amount = course_amount - 4

# what if i didn't register any course
if course_amount > 0:
  print("I registered courses!")
else:
  print("I didn't register any courses!")
```

Your answer:

**Question 2:**

Given the two integers, print the maximum of them.

Example input:
```python
3
5
```

Example output:
```python
7
```

Please draw out an if diagram flow chart for this problem.

Also show your Python solution for this problem too ;)

Your answer:

**Question 3:**

It's fun time! Can you figure out how to use *print* to print out these cute animals given the input of the user?

For example:

Can you please enter you want the cat or dog?

Input: "dog"

Output:

```
It's a dog!
  __      _
o'')}____//
 `_/      )
 (_(_/-(_/
```

Can you please enter you want the cat or dog?

Input: "cat"

Output:

```
It's a cat!
|\---/|
| o_o |
 \_^_/
```

In [ ]:
# Your code here