# **PYTHON 101 - DAY 1**

# Before you start: File ▸ Save a Copy in Drive

![]()

Hello and Welcome back to Python!!

Whew!! You have survived the first day of Python. Congratulations!!!!
In the previous lectures, we have learned about:
1. What is variable and different data types in Python?
2. `print()`, `input()`, `type()`, and `len()` function
3. if/elif/else conditions

**Review Area**

In [ ]:
# Literals (Number, String) & Print
print(12)
print(12.24)
print("I love my dog Bu")

12
12.24
I love my dog Bu

In [ ]:
# Variables
my_integer = 12
my_float = 12.24
my_string = "I love my dog"
print(my_integer)
print(my_float)
print(my_string)

12
12.24
I love my dog

In [ ]:
# Check type
print(type(my_integer))
print(type(my_float))
print(type(my_string))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
my_string

'I love my dog'

In [ ]:
len(my_string)

13

In [ ]:
# Indexing: my_string[a:b:c]
print(my_string)
print(my_string[:])
print(my_string[::])
print(my_string[::2])
print(my_string[2:])
print(my_string[:6])
print(my_string[2:6])
print(my_string[2:6:2])

I love my dog
I love my dog
I love my dog
Ilv ydg
love my dog
I love
love
lv

In [ ]:
# Conditionals
score = 9

if score < 6:
  print("failed")
elif 6 <= score < 8:
  print("good")
else:
  print("perfect")

perfect

Now let's move on to some more basic Python.

We will be going through these concepts in our lecture today:

1. List
2. For Loop

# Part 1. LIST

Let's consider the situation where we need to store a lot of values:

```python
color_1 = "pink"
color_2 = "blue"
color_3 = "green"
...
color_7 = "red"
```

This is slow and inefficient because we need to repeat variable assignment steps too many times and too many variable names to keep track of them.

Is there any efficient and neat way to keep track of values in a collection?

##👩‍💻 What is list and how will we use it?

List is an ordered collection of values enclosed by square brackets **`[ ]`** and separated by comma **“,”**

In [ ]:
# empty list

empty_list = []
print(empty_list)

[]

In [ ]:
# An example of a list of colors
colors = ["pink", "blue", "green", "black", "red"]
# Display the list out on to the screen
print(colors)

['pink', 'blue', 'green', 'black', 'red']

In [ ]:
# An example of a list of even numbers
even = [0,2,4,6,8,10]
# Display the list out on to the screen
print(even)

[0, 2, 4, 6, 8, 10]

List can contain different types of values.

In [ ]:
# We can also have different types of values in one list
my_list = [1, 'values', '2', 3.215]
print(my_list)

[1, 'values', '2', 3.215]

List is an ordered collection of values, just like string is an ordered collection of characters.

So a lot of operations with list will be similar to that of string.

In [ ]:
my_string = "probe"
# Do you still remember how to get the length of the string?
# Pop-up quiz
len(my_string)

5

len() is not the only operations from string that we can adapt.

The values inside list can also be accessed by indexing.

Here is the **string indexing** which we have learnt:

<img src="https://cdn.programiz.com/sites/tutorial2program/files/python-list-index.png" width=600>

The same logic is applied for list in Python!

In [ ]:
my_list = [1, 5.2, 96, "FACE", "Python", 8.6]
# Can you guess how will we get the length of the list my_list?
# Pop-up quiz
len(my_list)

6

Here is the **list indexing** which we have learnt:

<img src="https://i1.faceprep.in/Companies-1/lists-in-python.png" width=600>

Let's get back to list `colors` .

In [ ]:
colors

['pink', 'blue', 'green', 'black', 'red']

In [ ]:
# Let's try to get the first color from the list colors
colors[0]

'pink'

In [ ]:
# Can you try to get the color 'green' from the list colors?
# Pop-up quiz
print(colors[2])
print(colors[-3])

green
green

In [ ]:
# Can you get the last color from the list?
# Pop-up quiz
print(colors[-1])
print(colors[4])

red
red

Well, you can access the characters in the list that you want now right? How about if you want to get a big chunk of that list?

Do you still remember string slicing? We can also perform list slicing with the same method.

<img src="https://www.learnbyexample.org/wp-content/uploads/python/Python-List-Slicing-Syntax.png" width=300>

In [ ]:
colors

['pink', 'blue', 'green', 'black', 'red']

In [ ]:
# Let's try to get the first two colors from the list
print(colors[:2])
print(colors[-5:-3])

['pink', 'blue']
['pink', 'blue']

In [ ]:
# Can you try to get all the colors except 'pink'?
# Pop-up quiz
colors[1:]

['blue', 'green', 'black', 'red']

In [ ]:
colors[::-1]

['red', 'black', 'green', 'blue', 'pink']

One main difference between list and string is that list is mutable and string is immutable.

What does it mean?

In [ ]:
# Remember when we try to change a character of a string

my_color = 'pink'
my_color[0] = 'P'

TypeError: ignored

In [ ]:
colors

['pink', 'blue', 'green', 'black', 'red']

In [ ]:
# Let's try doing the same thing with list, will it give us an error again?
colors[0] = 'yellow'

In [ ]:
colors

['yellow', 'blue', 'green', 'black', 'red']

In [ ]:
# Can you change the value 'black' into 'DARK' from the list colors?
# Pop-up quiz
colors[3] = 'DARK'

In [ ]:
colors

['yellow', 'blue', 'green', 'DARK', 'red']

Some more methods on list mutation:

1. `list.append()` : add 1 item to the existing list
2. `list.extend()` : add many items of another list to the list
3. `list.insert(index, item)`: insert an item to the list at a defined index

4. `+` : concatenate (add) two lists to create a new list

5. `del list[index]`: delete one or more items by its indexes
6. `list.remove(item)`: remove the first item with the defined value from the list

In [ ]:
colors = ['pink', 'blue', 'green', 'black', 'red']
colors

['pink', 'blue', 'green', 'black', 'red']

In [ ]:
# Example of how to use append()
colors.append('orange')
print(colors)

['pink', 'blue', 'green', 'black', 'red', 'orange']

In [ ]:
# Example of how to use extend()
colors.extend(['magenta'])
print(colors)

['pink', 'blue', 'green', 'black', 'red', 'orange', 'magenta']

In [ ]:
# What is the difference between append() and extend()
# An example
colors.append(['purple','yellow','beige'])
colors

['pink',
 'blue',
 'green',
 'black',
 'red',
 'orange',
 'magenta',
 ['purple', 'yellow', 'beige'],
 ['purple', 'yellow', 'beige'],
 ['purple', 'yellow', 'beige']]

In [ ]:
new_list = colors[-1]
first_ele = new_list[0]
first_ele

'purple'

In [ ]:
colors[-1][0]

'purple'

In [ ]:
len(colors[-1][0])

6

In [ ]:
# for easy comparison, let's get back the orginal list

In [ ]:
colors.extend(['purple','yellow','beige'])
colors

['pink',
 'blue',
 'green',
 'black',
 'red',
 'orange',
 'magenta',
 ['purple', 'yellow', 'beige'],
 ['purple', 'yellow', 'beige'],
 ['purple', 'yellow', 'beige'],
 'purple',
 'yellow',
 'beige']

In [ ]:
len(colors)

8

In [ ]:
# What do you think is the result for the code below?
# Pop-up quiz
colors.append(['white','maroon','coral'])
colors

['pink',
 'blue',
 'green',
 'black',
 'red',
 'purple',
 'yellow',
 'beige',
 ['white', 'maroon', 'coral']]

In [ ]:
# Another way of adding something to your list is insert
colors.insert(3, 'mustard')
colors
# What do you think the difference between insert and the previous methods?

['pink',
 'blue',
 'green',
 'mustard',
 'black',
 'red',
 'purple',
 'yellow',
 'beige',
 ['white', 'maroon', 'coral']]

In [ ]:
colors

['pink',
 'blue',
 'green',
 'mustard',
 'black',
 'red',
 'purple',
 'yellow',
 'beige',
 ['white', 'maroon', 'coral']]

In [ ]:
# Concatenate the two lists
my_colors = ['pink', 'blue', 'green']
other_colors = ['black', 'red']
all_colors = my_colors + other_colors
print(my_colors)
print(other_colors)
print(all_colors)

['pink', 'blue', 'green']
['black', 'red']
['pink', 'blue', 'green', 'black', 'red']

In [ ]:
# what is the difference between this method and list concatentate +
my_colors.extend(other_colors)
my_colors

['pink', 'blue', 'green', 'black', 'red']

In [ ]:
my_colors

['pink', 'blue', 'green', 'black', 'red']

In [ ]:
# Adding to it is fun but what if I add something by mistake?
# Let's remove the ['black'] from our colors list
my_colors.remove('black')
my_colors

['pink', 'blue', 'green', 'red']

In [ ]:
# Or if we knew the index of the element that we want to delete
# Let's remove the color at index 2 from our colors list
del my_colors[2]
my_colors

['pink', 'blue', 'red']

## 🧐 Membership List

So we have a list of stuffs, how can we quickly know if a specific item is inside the list?

In [ ]:
my_cars = ["Honda", "Toyota", "Suyuki", "Audi", "BMW"]
my_cars

['Honda', 'Toyota', 'Suyuki', 'Audi', 'BMW']

In [ ]:
# let's see if I'm rich by owning a "BMW" car
"BMW" in my_cars

True

In [ ]:
# Let's combine with conditionals that we've have learnt
if "BMW" in my_cars:
  print("I'm rich! Yayyy!")
else:
  print("Oh no! I'm not a rich kid!")

I'm rich! Yayyy!

In [ ]:
# What about the opposite to find out if someone is not in the list
if "BMW" not in my_cars:
  print("I'm poor! oh noo!")
else:
  print("I'm a rich kid!")

I'm a rich kid!

## 🙋‍♀️ Small challenge

**Statement**:

Write a script that let user `input` a month (as in number). Print out the number of days in that month.

2: 28 days

1, 3, 5, 7, 8, 10, 12: 31 days

4, 6, 9, 11: 30 days  


**Example**

**Input:**

Can you enter which month of the year: 1

**Output:**

The number of days in that month is: 31

In [ ]:
# Your code here
month = int(input())
month_b = [4,6,9,11]
month_a = [2]

if month in month_a:
  print(28)
elif month in month_b:
  print (30)
else:
  print(31)

34
31

# Part 2. For Loop

##👩‍💻 What can for loop do and how would we use it?

![](https://media.geeksforgeeks.org/wp-content/uploads/20191101172216/for-loop-python.jpg)

**for loop:** is used for iterating over a sequence

```
for <variable> in <list> :
    a set of of expression to apply to the variable
```

In [ ]:
# Create a list called fruits contains these values: 'papaya', 'watermelon', 'dragonfruit', 'banana'
# Pop-up quiz
fruits = ['papaya', 'watermelon', 'wragonfruit', 'banana']
fruits

['papaya', 'watermelon', 'wragonfruit', 'banana']

In [ ]:
# Let's try printing all the values inside that list
print(fruits)

['papaya', 'watermelon', 'dragonfruit', 'banana']

In [ ]:
# Let's try to visualize our for loop
for a_fruit in fruits:
  print("Start of the loop!")
  print(a_fruit)
  print("End of the loop! Go back to the loop!")

print("Finishing the loop")

Start of the loop!
papaya
End of the loop! Go back to the loop!
Start of the loop!
watermelon
End of the loop! Go back to the loop!
Start of the loop!
dragonfruit
End of the loop! Go back to the loop!
Start of the loop!
banana
End of the loop! Go back to the loop!
Finishing the loop

In [ ]:
# What if we want to print out only some specific fruits?
# Let's incorporate if-else with our for loop.
# Loop through our list and print out the fruit if it starts with a w.
for i in fruits:
  if i.startswith('w'):
    print(i, 'starts with W')
  else:
    print(i, 'doesn"t with w')

papaya doesn"t with w
watermelon starts with W
wragonfruit starts with W
banana doesn"t with w

In [ ]:
# Now if we want to print out all the fruits that doesn't start with a w.
for i in fruits:
  if i.startswith('w'):
    continue  # what does it do ?
  else:
    print(i)

papaya
banana

In [ ]:
fruits

['papaya', 'watermelon', 'wragonfruit', 'banana']

In [ ]:
# Similar question above but now if it starts with w then print it and break out of the loop.
for i in fruits:
  if i.startswith('w'):
    print(i, "starts with W")
    break    # what does it do ?
  else:
    print(i, "does not start with W")

papaya does not start with W
watermelon starts with W

In [ ]:
# Let's try to add another fruit 'wintermelon'
# Do you remember how to add another value to the end of the list?
# Pop-up quiz
fruits.append('wintermelon')

In [ ]:
fruits

['papaya', 'watermelon', 'wragonfruit', 'banana', 'wintermelon']

In [ ]:
# Now remember our question from above that if the word starts with w then print it and break out of the loop.
for i in fruits:
  if i.startswith('w'):
    print(i, "starts with W")
    break    # what does it do ?
  else:
    print(i, "does not start with W")

# What do you think the answer will be now?
# Pop-up quiz

papaya does not start with W
watermelon starts with W

💁‍♀️ `range(num1, num2)` is used to create a list of of numbers from num1 to num2 - 1

In [ ]:
range(0,10)

range(0, 10)

In [ ]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Let's print out all the numbers between 0 and 10 (including 10)
for i in range(0,11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# Ok, we'll be taking it up a notch.
# Let's calculate the sum of all the numbers between 0 and 10 (including 10)
total = 0
for i in range(0,11):
  total += i
print("Total:", total)

total = 0

Total: 55

In [ ]:
nums = []
for i in range(0,11):
  nums.append(i)
print(nums)
print("Total:", sum(nums))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Total: 55

Let's up our game: How about printing out fruits with their index like this:

**For examples:**
```txt
papaya is 0
watermelon is 1
dragonfruit is 2
banana is 3
wintermelon is 4
```

In [ ]:
fruits

['papaya', 'watermelon', 'wragonfruit', 'banana', 'wintermelon']

In [ ]:
list(range(len(fruits)))

[0, 1, 2, 3, 4]

In [ ]:
fruits = ['papaya', 'watermelon', 'dragonfruit', 'banana', 'wintermelon']

for i in range(len(fruits)):
  print(fruits[i], "is", i)

papaya is 0
watermelon is 1
dragonfruit is 2
banana is 3
wintermelon is 4

In [ ]:
# Let's try
fruits = ['papaya', 'watermelon', 'dragonfruit', 'banana', 'wintermelon']
index = 0

for fruit in fruits:
  print(f'{fruit} is {index}')
  index = index + 1

papaya is 0
watermelon is 1
dragonfruit is 2
banana is 3
wintermelon is 4

## 🙋‍♀️ Small challenge

***CHALLENGE 1***: Write a function to return the sum of numbers which are from 0 to n (0, 1, 2, 3..., n). Make sure that your user can input their own n number.

***Example input 1***
```
Enter your N: 3
```
***Example output 1***
```
6
```
***Example input 2***
```
Enter your N: 10
```
***Example output 2***
```
55
```

In [ ]:
number = int(input('Pls input your number : ',))

total = 0

for i in range(number+1):
  total += i

print(total)

Pls input your number : 10
55

***CHALLENGE 2***: Write a function to print out words having the even index and starts with character "p":

***Example list***

```python
fruits=['papaya', 'pineapple', 'watermelon', 'dragonfruit', 'pear', 'banana', 'wintermelon', 'passion fruit', 'plum']
```

***Example output***
```
papaya
pear
plum
```

In [ ]:
fruits=['papaya', 'pineapple', 'watermelon', 'dragonfruit', 'pear', 'banana', 'wintermelon', 'passion fruit', 'plum']

for i in fruits:

  if i.startswith('p') and len(i)%2==0 :
    print(i)

papaya
pear
plum

***CHALLENGE 3***: Write a function to print out how much you love fruits having its name longer than 9:

***Example list***

```python
fruits=['papaya', 'pineapple', 'watermelon', 'dragonfruit', 'pear', 'banana', 'wintermelon', 'passion fruit', 'plum']
```

***Example output***
```
I love watermelon dragonfruit wintermelon passion fruit
```

In [ ]:
fruits=['papaya', 'pineapple', 'watermelon', 'dragonfruit', 'pear', 'banana', 'wintermelon', 'passion fruit', 'plum']

love='I love '

for i in fruits:
  if len(i)>9:
    love += i + ' '

print(love)

I love watermelon dragonfruit wintermelon passion fruit

***CHALLENGE 4*** GUESS THE PRICE

- To start one round, machine will generate a random product price from 10.000 to 100.000 VND (always rounded to thousand: 10K, 40K, 60K)
- User is going to input one price.
- If their price is lower, message them to raise their guess price.
- If their price is higher, message them to lower their guess price.
- If they guess it right, say "Bingo" and stop the game.
- If after 5 rounds, they still can't get it. Say "GAME OVER".

In [ ]:
import random

price = random.randint(1, 10) * 10000

max_times = 5

flag = False

#to limit number of rounds of a loop
for _ in range(max_times):
  u_guess=int(input('Pls insert your guess price : '),)

  if price > u_guess:
    print('Pls raise your guess price')
  elif price < u_guess:
    print('Pls lower your guess price')
  else :
    print('Price is ',price)
    print('Bingo !')
    flag= True
    break

if flag == False:
  print('Price is ',price)
  print('GAME OVER !')

Pls insert your guess price : 70000
Pls raise your guess price
Pls insert your guess price : 90000
Price is  90000
Bingo !