# **PYTHON - Dictionary & Function**


![](https://www.houseofbots.com/images/news/4355/cover.png)

In the previous session, we have learnt and practiced about:
- **Variable**
- **Number** with math operations
- **String** with slicing and methods.
- The **`print()`** and **`input()`** function.
- Conditionals: **if/elif/else** condition.
- Data Structure: **List** with slicing.
- Loop: **For** loop with in syntax.

In today's session, we will continue on Python with:
- Data structures using **Dictionary**
- **Function**

# 1. REVIEW

In [ ]:
alphabets=[]
alphabets

[]

In [ ]:
alphabets = ["b", "a", "c"]
alphabets

['b', 'a', 'c']

In [ ]:
" ".join(alphabets)

'b a c'

In [ ]:
alphabets = sorted(alphabets)

In [ ]:
alphabets

['a', 'b', 'c']

In [ ]:
for i in alphabets:
  print(i)

a
b
c

In [ ]:
alphabets.append('d')

In [ ]:
alphabets

['a', 'b', 'c', 'd']

In [ ]:
alphabets.extend(['e','f'])
alphabets

['a', 'b', 'c', 'd', 'e', 'f']

# 2. DICTIONARY (Data Structures)

<img src="https://www.rd.com/wp-content/uploads/2017/09/This-Is-How-Dictionary-Editors-Prank-Each-other-392723320-Castleski.jpg" alt="drawing" width="300"/>

It's a very **useful data structure** in Python.

A dictionary is a **collection** which contains many **pairs of keys and values**.

**Unlike list, dictionary is super fast to search, retrieve, delete, change value using the key**.

Dictionary is an unordered
collection of values, created in the
form of `{key:value}`

### Normal Structure of Dictionary

<img src="https://s1.o7planning.com/en/11437/images/7722025.png" width=400>

### Nested Structure of Dictionary

<img src="https://i1.wp.com/pyblog.in/wp-content/uploads/2019/02/dictionary.png?w=750&ssl=1" width=400>

## Syntax for Dictionary

### Initialization

In [ ]:
# Dictionary Initialization
# Here is empty dictionary
my_dict = {}

In [ ]:
# Create a dictionary:
profile = { 'name': 'Tom',
            'age' : 29,
            'hair': 'black'}

In [ ]:
profile

{'name': 'Tom', 'age': 29, 'hair': 'black'}

In [ ]:
# Create a more complex dictionary:
profile = { 'name': 'Tom',
            'age' : 29,
            'hair': 'black',
            'languages': ['Vietnamese', 'English', 'Chinese'], # list
            'pet': {"name": "kiki",  # dictionary
                    "type": "dog",
                    "age": 2}
           }

In [ ]:
profile

{'age': 29,
 'hair': 'black',
 'languages': ['Vietnamese', 'English', 'Chinese'],
 'name': 'Tom',
 'pet': {'age': 2, 'name': 'kiki', 'type': 'dog'}}

**Please note**: dictionary key must be immutable

### Accessing Values

Access an element using key

In [ ]:
profile['hair']

'black'

### Changing Values/Add New Values

If the key exists, then it would change the value of that pair

In [ ]:
profile['age'] = 21

In [ ]:
profile

{'name': 'Tom',
 'age': 21,
 'hair': 'black',
 'languages': ['Vietnamese', 'English', 'Chinese'],
 'pet': {'name': 'kiki', 'type': 'dog', 'age': 2}}

If the key does not exist, then it would add a new pair with that key:value

In [ ]:
# Adding an element into dictionary
profile["hobby"] = 'karaoke'

In [ ]:
# Add fav fruits as guava and cherry
profile["fruit"] = ['cherry', 'apple']

In [ ]:
profile

{'name': 'Tom',
 'age': 21,
 'hair': 'black',
 'languages': ['Vietnamese', 'English', 'Chinese'],
 'pet': {'name': 'kiki', 'type': 'dog', 'age': 2},
 'hobby': 'karaoke',
 'fruit': ['cherry', 'apple']}

###Loop through dictionary

Loop through the dictionary to print out keys

In [ ]:
for key in profile:
  print(key)

name
age
hair
languages
pet
hobby
fruit

Loop through keys to get values using the keys

In [ ]:
for k in profile:
  print(profile[k])

Tom
21
black
['Vietnamese', 'English', 'Chinese']
{'name': 'kiki', 'type': 'dog', 'age': 2}
karaoke
['cherry', 'apple']

In [ ]:
# Return the list of all the keys
profile.keys()

dict_keys(['name', 'age', 'hair', 'languages', 'pet', 'hobby', 'fruit'])

In [ ]:
for i in profile:
  print(i)

name
age
hair
languages
pet
hobby
fruit

In [ ]:
for i in profile.keys():
  print(i)

name
age
hair
languages
pet
hobby
fruit

In [ ]:
# Return the list of all values
profile.values()

dict_values(['Tom', 21, 'black', ['Vietnamese', 'English', 'Chinese'], {'name': 'kiki', 'type': 'dog', 'age': 2}, 'karaoke', ['cherry', 'apple']])

In [ ]:
for x in profile.values():
  print(x)

Tom
21
black
['Vietnamese', 'English', 'Chinese']
{'name': 'kiki', 'type': 'dog', 'age': 2}
karaoke
['cherry', 'apple']

###Check if key exists in dictionary

Checking the key exists in the dictionary is important. Otherwise, it will throw an error :(

In [ ]:
profile["hahaha"]

KeyError: ignored

In [ ]:
profile

{'name': 'Tom',
 'age': 21,
 'hair': 'black',
 'languages': ['Vietnamese', 'English', 'Chinese'],
 'pet': {'name': 'kiki', 'type': 'dog', 'age': 2},
 'hobby': 'karaoke',
 'fruit': ['cherry', 'apple']}

You can check if a key exists in a dictionary using **"in"** (similarly to the way to check an element exists in a list)

In [ ]:
if "hair" in profile:
  print("Key exist: "+ profile["hair"])
else:
  print("Key does not exist :( ")

Key exist: black

In [ ]:
# using this to check key exists before trying to access it

###Check the length of dictionary

The length of dictionary is just the number of keys.

In [ ]:
profile

{'age': 21,
 'fruit': ['cherry', 'apple'],
 'hair': 'black',
 'hobby': 'karaoke',
 'languages': ['Vietnamese', 'English', 'Chinese'],
 'name': 'Tom',
 'pet': {'age': 2, 'name': 'kiki', 'type': 'dog'}}

In [ ]:
len(profile)

7

### Complex nested structure of dictionary

Usually, there are two very common data structures of dictionary, you see in coding interviews/challenges are:
- A List of dictionaries
- A Dictionary of dictionaries

In [ ]:
# Imagine you have three children and here are their profiles
child_1 = {
  "name" : "Emil",
  "year" : 2004
}
child_2 = {
  "name" : "Tobias",
  "year" : 2007
}
child_3 = {
  "name" : "Linus",
  "year" : 2011
}

In [ ]:
# Option 1: organise this as a dictionary of dictionaries
family_dict = {
    "child1": child_1,
    "child2": child_2,
    "child3": child_3
}

In [ ]:
family_dict

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
# Option 2: organise this as a list of dictionaries
family_list = [child_1, child_2, child_3]
family_list

[{'name': 'Emil', 'year': 2004},
 {'name': 'Tobias', 'year': 2007},
 {'name': 'Linus', 'year': 2011}]

In [ ]:
print(family_list[0])

{'name': 'Emil', 'year': 2004}

#### CHALLENGE 1

In [ ]:


list_of_children={'child_1':{'name':'Shuck','year':'2000','gender':'boy'},'child_2':{'name':'My','year':'2001','gender':'girl'}
,'child_3':{'name':'Deek','year':'2002','gender':'boy'}}

print(list_of_children)

name=[]

for i,k in enumerate(list_of_children):
  print(i)
  name.append(list_of_children[k]['name'])
  print(list_of_children[k]["name"])
  print(list_of_children[k]["year"])
  print(list_of_children[k]["gender"])

print(name)

{'child_1': {'name': 'Shuck', 'year': '2000', 'gender': 'boy'}, 'child_2': {'name': 'My', 'year': '2001', 'gender': 'girl'}, 'child_3': {'name': 'Deek', 'year': '2002', 'gender': 'boy'}}
0
Shuck
2000
boy
1
My
2001
girl
2
Deek
2002
boy
['Shuck', 'My', 'Deek']

In [ ]:
list_of_dict = [{'name': 'Emil', 'year': 2004},
 {'name': 'Tobias', 'year': 2007},
 {'name': 'Linus', 'year': 2011}]

# Your code here (loop through list of dictionaries)
for index in range(len(list_of_dict)):
  print(index)
  print(list_of_dict[index]["name"])
  print(list_of_dict[index]["year"])

0
Emil
2004
1
Tobias
2007
2
Linus
2011

#### CHALLENGE 2



<img src="https://i.insider.com/56e3189152bcd0320c8b5cf7?width=1100&format=jpeg&auto=webp" width=400>

- **Situation**: Imagine you are a house husband/wife, and have too many children to count and remember. So you need to write some Python code to list all information of them when you forget.

- **Problem**: Write the code take a **dictionary of dictionaries** of their information and loop through and display them on the screen
  
#####Example input 1
```python
dict_of_dict = {'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}
```

#####Example output 1
```python
child number: 0
name:  Emil
year:  2004
-------------------
child number: 1
name:  Tobias
year:  2007
-------------------
child number: 2
name:  Linus
year:  2011
-------------------
```

In [ ]:
a = ['a','b','c','d']

for count, i in enumerate(a):
  print(i, count)

a 0
b 1
c 2
d 3

In [ ]:
b = {"name": "Tom", "age": 27}
for index, k in enumerate(b):
  print(index)
  print(k)

0
name
1
age

In [ ]:
dict_of_dict = {'child 1': {'name': 'Emil', 'year': 2004},
 'child 2': {'name': 'Tobias', 'year': 2007},
 'child 3': {'name': 'Linus', 'year': 2011}}

# Your code here (loop through dictionary of dictionaries)
for index, key in enumerate(dict_of_dict):
  print(index)
  print(dict_of_dict[key]["name"])
  print(dict_of_dict[key]["year"])

0
Emil
2004
1
Tobias
2007
2
Linus
2011

In [ ]:
for i in list_of_children.key() :
  print(i)

AttributeError: ignored

#### CHALLENGE 3



<img src="https://lh3.googleusercontent.com/proxy/VYXN7Drt5UqDZI_y_DWlGAEASfwSbd--199zd10d4mQ20CwBHUymBS3VKDpElbJwdCJ3J34-AkSave3o6kPwY19UaKsRovlDaSUC-Jwwj09tPvOw2zxWzO01oolUsa002mc0IziiwRRvuityyw2E_8E" width=400>

- **Situation**: Imagine you are a house husband/wife, and have a small money exchange shop for business. You need to build a system to exchange money from customers.

- **Problem**: Write the code take a **dictionary** of money exchange information and return the correct exchange rate.
  
#####Example input 1
```python
exchange_rates = {
"VND2USD": 0.000043,
"USD2VND": 23080
}

my_money = "10 USD"
```

#####Example output 1
```python
"230800 VND"
```
----------------------
#####Example input 2
```python
exchange_rates = {
"VND2USD": 0.000043,
"USD2VND": 23080
}

my_money = "5000000 VND"
```

#####Example output 2
```python
"215 USD"
```

In [ ]:
exchange_rates = {
"VND2USD": 0.000043,
"USD2VND": 23080
}
# Your code here
my_money = "5000000 VND"
number = my_money.split()[0]
currency = my_money.split()[1]
if currency == "VND":
  print(exchange_rates["VND2USD"]*float(number), "USD")
else:
  print(exchange_rates["USD2VND"]*float(number), "VND")

215.0 USD

# 3. Function

 In mathematics, a function is typically represented like this:

<img src="https://files.realpython.com/media/t.74ec5430f457.png" width=400>

**f** (**name of function**) is a function that operates on the inputs **x** and **y** (**parameters/arguments**). The **output** of the function is **z**.

A function in Python is:

- **What**: A block of code which is organized and reusable
- **Define**: Need to use keyword **def** and define a block of code inside function body
- **Input**: data can be passed, as parameters/arguments, into a function
- **Output**: it can return data as a result
- **Usage**: call the name of the function

<img src="https://i.imgur.com/orjI3KF.png" width=600>

Here are an example function in Python:

In [ ]:
def add(x, y):
  print(f'arguments are {x} and {y}')
  return x + y

<img src="https://i.imgur.com/IX8jkyD.png" width=500>

To use a function we've defined, we need to call its name and plug in the right inputs (parameters)

In [ ]:
add(3, 7)

arguments are 3 and 7

10

In [ ]:
add(4, 6)

arguments are 4 and 6

10

Let's try out a few other functions

In [ ]:
def greeting(name):
  return "hey " + name

greeting("Tom")

'hey Tom'

In [ ]:
def swap_string(my_string):
  my_length = len(my_string)
  return my_string[my_length//2:] + my_string[:my_length//2]

swap_string("Hello")

'lloHe'

In [ ]:
def element_exists_list(my_list, my_number):
  if my_number in my_list:
    return True
  else:
    return False

element_exists_list([1,4,6,7], 3)

False

In [ ]:
def get_even_elements(my_list):
  my_result = []
  for i in my_list:
    if i%2 == 0:
      my_result.append(i)
  return my_result

get_even_elements([1,2,4,5,6,7,8,9])

[2, 4, 6, 8]

In [ ]:
def fun(x):
  print (x*2) #do something

def fo(y):
  return y*2 #return

In [ ]:
fun(fun(5))

10

TypeError: ignored

In [ ]:
fun(fo(5))

20

In [ ]:
x = fun(5)
y = fun(5)

10
10

In [ ]:
fun(fo(5))

20

In [ ]:
print(fo(fo(5)))

20

In [ ]:
type(fun(3))

6

NoneType

In [ ]:
element_exists_list([1,4,6,7], fun(3))

6

False

## Global variable and Local variable

In [ ]:
x = 10 # global variable

def print_my_x():
  return x

print(print_my_x())
print(x)

10
10

In [ ]:
x = 10
def print_my_y(y):
  y+=5
  return y

print(print_my_y(x))
print(y)

15
None

In [ ]:
x = [10]
def print_my_y(y):
  y[0]+=5
  return y

print(print_my_y(x))
print(x)

[15]
[15]

#### CHALLENGE 5

In [ ]:
receipt={}

add_product={'name':'bread',}



<img src="https://retailminded.com/wp-content/uploads/2015/12/Receipt-1.jpg" width=400>

- **Situation**: Imagine you are a house husband/wife, you need to do grocery shopping everyday. It takes too much time to go through paper receipts and calculate how much you spend today (expense). So you need to digitize the paper receipt into a python dictionary.

- **Problem**: Write a function **add_product**:
  - Inputs:
    - An existing dictionary as a receipt
    - A product name (string)
    - A product price (number)
    - A product weight (number)
  - Outputs:
    - An dictionary as a receipt with that new information of that product
  
#####Example input 1
```python
# your existing dictionary receipt
receipt = {}

# call add_product function to add a new product into your dictionary
add_product(receipt, "milk", 20, 3)

print(receipt)
```

#####Example output 1
```python
{"milk": {"cost": 20, "weight": 3}}
```

-------------

#####Example input 2
```python
# your existing dictionary receipt
receipt = {"milk": {"cost": 20, "weight": 3}}

# call add_product function to add a new product into your dictionary
add_product(receipt, "rice", 40, 2)

print(receipt)
```

#####Example output 2
```python
{"milk": {"cost": 20, "weight": 3},
"rice": {"cost": 40, "weight": 2}}
```
-------------

In [ ]:
receipt = {'milk':{'cost':40,'weight':10}}
# Your code here
# Define your add_product function here

def add_product(name,cost,weight):
  return receipt.update({name:{'cost':cost,'weight':weight}})

add_product('bread',20,3)

print(receipt)

# Try to call add_product function to add new product purchases into the receipt dictionary

{'milk': {'cost': 40, 'weight': 10}, 'bread': {'cost': 20, 'weight': 3}}

#### CHALLENGE 6

In [ ]:
receipt = {
  "milk": {"weight": 1, "cost": 30},
  "rice": {"weight": 2, "cost": 20},
  "cookie": {"weight": 3, "cost": 30},
  "sugar": {"weight": 1, "cost": 40},
}

total_cost=0
total_weight=0

for i in receipt[key]['weight']:
  total_weight= total_weight + i
for k in receipt[key]['cost']:
  total_cost=total_cost + k

print(total_weight,total_cost)

KeyError: ignored



<img src="https://www.mcgill.ca/oss/files/oss/styles/hd/public/receipts-1372960_1920.jpg?itok=x_cLVfa9&timestamp=1582660126" width=400>

- **Situation**: Imagine you are a house husband/wife, you need to do grocery shopping everyday. It takes too much time to go through paper receipts and calculate how much you spend today (expense). Luckily, you are able to digitize the paper receipt into a python dictionary. Now you just need to calculate the total price of that dictionary.

- **Problem**: Write a function **"calculate_receipt"** takes a receipt as a dictionary and return a dictionary of two things:
  - 1. "total_weight": The total price we have paid.
  - 2. "total_cost": The total weight of the products.

#####Example input 1
```python
receipt = {
  "milk": {"weight": 1, "cost": 30},
  "rice": {"weight": 2, "cost": 20},
  "cookie": {"weight": 3, "cost": 30},
  "sugar": {"weight": 1, "cost": 40},
}

result = calculate_receipt(receipt)

print(result)
```


#####Example output 1
```python
{"total_weight": 7, "total_cost": 120}
```

-------------

#####Example input 2
```python
receipt = {
  "tea": {"weight": 3, "cost": 20},
  "milk": {"weight": 2, "cost": 50},
  "coffee": {"weight": 1, "cost": 10}
}

result = calculate_receipt(receipt)

print(result)
```
#####Example output 2
```python
{"total_weight": 6, "total_cost": 80}
```
-------------

In [ ]:
receipt = {
  "milk": {"cost": 30, "weight": 1},
  "rice": {"cost": 20, "weight": 2},
  "cookie": {"cost": 30, "weight": 3},
  "sugar": {"cost": 40, "weight": 1},
}
# Your code here