# **PYTHON - While loop, Tuple & Set**


<img src="https://i.ytimg.com/vi/Ghz4YwOXtTA/maxresdefault.jpg" width=400>

In the previous session, we have learnt and practiced about:
- **Variable**
- **Number** with math operations
- **String** with slicing and methods.
- The **`print()`** and **`input()`** function.
- Conditionals: **if/elif/else** condition.
- Data Structure:
  - **List**
  - **Dictionary**
- Loop: **For** loop with in syntax.

In today's session, we will continue on Python with:
- Data structures:
  - **Tuple**
  - **Set**
- **While** loop
- **Assert** for testing and debugging

# 0. REVIEW

In [ ]:
a = {"Tom":27, "Chinh": 25}
a

{'Chinh': 25, 'Tom': 27}

In [ ]:
for i in a:
  print("key:", i)
  print("value", a[i])

key: Tom
value 27
key: Chinh
value 25

In [ ]:
b = [1, 2, 3, 4, 5]
b

[1, 2, 3, 4, 5]

In [ ]:
for index in range(len(b)):
  print(b[index])

1
2
3
4
5

# 1. While Loop

Beside ```For``` loop, we have ```While``` loop.

With the while loop we can execute a set of statements as long as a condition is ```True```.

<img src="https://i.pinimg.com/474x/5a/39/38/5a393829f1825fbb3feda8efd914b2d2.jpg" width=250>

**Question:** Can you guess what this function try to do? (Pop-up quiz)

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

2
3
4
5
6

**Question:** Can you guess what situation we use ```for``` loop and what situation we use ```while``` loop?

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJAY2mOi0tSLhj1fP5sGJkIXpo2fl9MPb6zg&usqp=CAU" width=250>

Similarly to ```break``` in For loop, ```break``` in while loop break out of the loop early!

**Question:** Can you guess what is the output of this code?

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

Similarly to ```continue``` in For loop, ```continue``` in while loop will stop the current iteration, and continue with the next!

**Question:** Can you guess what is the output of this code?

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    continue
  i += 1

**Danger**: when it comes to while loop, there is a chance you will get to infinite loop (endless loop) :))

<img src="https://i.imgflip.com/472ire.jpg" width=200>
<img src="https://lh3.googleusercontent.com/proxy/M5G9GuOGawHcOPhAJtOVyYFLNbuq3hPrEBXnI9myeTU68LCcIWL4-ZlssOJaaxjzXhllJ7ALPYTqMObf1t1Kxn0-qH5byhjqOkNffuquIrSpZIHc5POSB6Vl6zgQirZe45w7j3pPGk1hwQLklkOKRsA8gxjKp6JanAM" width=200>
<img src="https://lh3.googleusercontent.com/proxy/oZ3DYx-UqqDX1L9w4aqfd7dvS9eWbsIaCfzzSOgc3aWxMHaxNLoxQwGbpKzr0Ij8xZa_NVDlFqDy-5XPQGWfJc_TCPiN5jFNFgadacq6x2JvypbGoojxIMOXtLG9xNCn56TCsJf1Wd2QMZKE9hc3HRe3nyQGgRTziHU" width=200>
<img src="https://memegenerator.net/img/instances/63529751.jpg" width=200>

**Question:** How can you write an infinite loop with ```While``` loop?

In [ ]:
# your code here

while True:
  print("hello")

**Question:** Do we must avoid the infinite loop at all cost? Can you think of any situation we can benefit from an infinite loop?

Game: let user enter a number until that number is 0.

In [ ]:
# your code here
while True:
  i = int(input("Enter a number:"))
  if i == 0:
    break

In [ ]:
i = 2
while i!=0:
  i=int(input("Enter a number: "))

Enter a number: 3
Enter a number: 6
Enter a number: 8
Enter a number: 4
Enter a number: 0

<img src="https://i.imgur.com/AkqvvJY.jpgjpg" width=350>

# 2. TUPLE (Data Structure)

Tuples are sequences, just like **lists but immutable** (cannot be changed).

The differences between tuples and lists are, the tuples cannot be changed unlike lists and **tuples use parentheses ( )**, whereas **lists use square brackets [ ]**.

<img src="https://i.imgur.com/R0Wn3sS.png" width=500>

In [ ]:
my_resume = ()

In [ ]:
my_resume = ("Python", "C++", "Java")
my_resume

('Python', 'C++', 'Java')

In [ ]:
len(my_resume)

3

In [ ]:
my_resume[1]

'C++'

In [ ]:
# Create a tuple with different datatype, which is similar to list
my_tuple = (1, "Tom", False)
my_tuple

(1, 'Tom', False)

In [ ]:
# Try mutating the tuple (Is it possible?)
my_tuple[0] = 28

There is a benefit why we want to use tuples which is to create a dictionary with tuples as keys.

In [ ]:
tax_rules = {"full-time": "30%", "part-time": "10%"}
tax_rules

{'full-time': '30%', 'part-time': '10%'}

What if we want to make our keys to be more complex to accommodate the tax rules for local Vietnamese and foreign people?

What will happen if you try to use lists as keys in dictionary?

In [ ]:
tax_rules = {["full-time","local"]: "30%",
             ["part-time","local"]: "10%",
             ["full-time","foreign"]: "50%",
             ["part-time","foreign"]: "40%"}

TypeError: ignored

There is a simple solution: let's use tuples as keys so we can have a more complex dictionary key.

In [ ]:
tax_rules = {("full-time","local"): "30%",
             ("part-time","local"): "10%",
             ("full-time","foreign"): "50%",
             ("part-time","foreign"): "40%"}
tax_rules

{('full-time', 'foreign'): '50%',
 ('full-time', 'local'): '30%',
 ('part-time', 'foreign'): '40%',
 ('part-time', 'local'): '10%'}

In [ ]:
tax_rules[('full-time', 'foreign')]

'50%'

**Question**: Can you try to create a dictionary with keys being tuple? (Discussion)

In [ ]:
# your code here
fashion_shop_items = {
    ("shirt", "casual"): 3,
    ("short", "formal"): 4,
    ("short", "semi-formal"): 4,
}
fashion_shop_items

{('shirt', 'casual'): 3, ('short', 'formal'): 4, ('short', 'semi-formal'): 4}

**Question**: Can you access value 20 from the following tuple? (Pop-up quiz)

Hint: Very similar to list :)

In [ ]:
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
# your code here
aTuple[1][1]

20

# 3. SET (Data Structure)

A set is an **unordered** collection of items. Every set **element is unique** (no duplicates) and must be **immutable** (cannot be changed).

In [ ]:
# Convert a list to a set
new_list = set(['banana', 'kiwi', 'kiwi', 'orange', 'orange', 'banana'])
new_list

{'banana', 'kiwi', 'orange'}

<img src="https://camo.githubusercontent.com/af03bcbaeed4036d4f74e2f1c009c337b3e2ee54df54f83305d0e2eb1dd3678c/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f37383437322f313335313234352f32303933376230342d333731662d313165332d383539652d6636383163653765643034312e706e67" width=250>

In [ ]:
new_list = {1, 1, 2, 3, 4, 5, 5}
new_list

{1, 2, 3, 4, 5}

In [ ]:
# Set Operations
# union()
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# intersection()
a.intersection(b)

{4, 5}

In [ ]:
# difference()
a.difference(b)

{1, 2, 3}

In [ ]:
b.difference(a)

{6, 7, 8}

**Question:** Can you think of situations we should use set instead of list and dictionary?

In [ ]:
a = [1,2,3,4,5]
4 in a

In [ ]:
b = {1,2,3,4,5}
4 in b

In [ ]:
a = [1,2,4,3,5,6,7,3,3,5,4,3,4,5]
a = set(a)
len(a)

7

# 4. Assert

The assert keyword is used when debugging code.

The assert keyword lets you test if a condition in your code returns True, if not, the program will raise an AssertionError.

In [ ]:
assert (1==2)

AssertionError: ignored

In [ ]:
assert (2==2)

In [ ]:
assert(2+1==3)

In [ ]:
assert(max([4,7,9])==5)

Hmmmm, that is interesting but ultimately, we want to use assert to create an automatic test function to test your function. Here is the example:

###Sample Module Test

Please write a function **second_max** which takes a list of numbers as an input and return the second highest number in the list.

**Public Sample Input 1**
```python
second_max([5,4,2,7,2,7,9,4,2,5])
```
**Public Sample Output 1**
```python
7
```
----------------------------
**Public Sample Input 2**
```python
second_max([2,5,7,8,3,6,8,9,1,2,4])
```
**Public Sample Output**
```python
8
```
---------------------------

Can you try to figure out how to write this function second_max?

In [ ]:
def second_max(my_list):
  # Your Code Here
  my_set = list(set(my_list))
  return sorted(my_set)[-2]

You don't really need to write this testing code ever.

This code here is to show you how we can write a script to automatic mark your function **second_max**.

This is more important to understand how it works!

In [ ]:
# Here is our public test cases
score = 0                                   # your starting score
test_cases= [
             ([5,4,2,7,2,7,9,4,2,5], 7),    # test case 1
             ([2,5,7,8,3,6,8,9,1,2,4], 8),  # test case 2
             ([5,4,3,2,1], 4),              # test case 3
             ([4,5,6,7], 6),                # test case 4
             ([56,34,65,23], 56),           # test case 5
             ([5,5,4,3,2,1], 4)            # test case 6
             ]

for test_case in test_cases:
  try:
    assert (second_max(test_case[0])==test_case[1])
    print("You passed a test case:", test_case[0])
    score +=1
  except:
    print("You failed a test case:", test_case[0])

print("My total score is", score, "out of", len(test_cases))

You passed a test case: [5, 4, 2, 7, 2, 7, 9, 4, 2, 5]
You passed a test case: [2, 5, 7, 8, 3, 6, 8, 9, 1, 2, 4]
You passed a test case: [5, 4, 3, 2, 1]
You passed a test case: [4, 5, 6, 7]
You passed a test case: [56, 34, 65, 23]
You passed a test case: [5, 5, 4, 3, 2, 1]
My total score is 6 out of 6

# Challenges

### Challenge 1 (While Loop)

####Statement

For a given integer N, print all the squares of integer numbers where the square is less than or equal to N, in ascending order.


####Example input 1
```
50
```

####Example output 1
```
1 4 9 16 25 36 49
```
-------------------------
####Example input 2
```
10
```

####Example output 2
```
1 4 9
```
-------------------------
####Example input 3
```
99
```

####Example output 3
```
1 4 9 16 25 36 49 64 81
```

In [ ]:
# Your code here

### Challenge 2 (While Loop)

####Statement

Determine the average of all elements of the sequence which are inputted by the user and the sequence ends with the number 0.

In other words, users can continue to enter the sequence as long as they want until they enter the number 0. Then the program should return the average of the sequence.

####Example input 1
```
1
7
9
0
```

####Example output 1
```
5.66666666667
```
-------------------------

In [ ]:
# Your code here

### Challenge 3 (Set Problem)

####Statement

Given a list of integers. Determine how many distinct numbers there are.

This task can be solved in one line of code.

####Example input 1
```
1 2 3 2 1
```

####Example output 1
```
3
```
-------------------------
####Example input 2
```
1 2 3 4 5 6 7 8 9 10
```

####Example output 2
```
10
```
-------------------------
####Example input 3
```
1 2 3 4 5 1 2 1 2 7 3
```

####Example output 3
```
6
```

In [ ]:
# Your code here

### Challenge 4 (Set Problem)

####Statement

Use Python Sets to figure out what is ... between two sets of numbers below?

1. Same Numbers
2. Different Numbers
3. Numbers in Set 1 and not in Set 2
4. Number in Set 2 and not in Set 1

<img src="https://study.com/cimages/multimages/16/screen_shot_2017-03-28_at_8.28.58_pm.png">

In [ ]:
# Your code here

###Challenge 5 (Google Interview Question with Test Cases)

**Fun Fact:** This is inspired from an **real interview question** to get a job in **Google** 🤓

**Question:** Given an list of numbers, return ```True``` if there's a smaller continuous 3-number sequence in the list which sums up to the given number, ```False``` otherwise.

**For example**

guess_sum(11, [2, 5, 2, 4, 7, 3]) --> returns ```True```,  as 5+2+4 sums to 11 (We have 4 + 7 but it is 2-number sequence).

guess_sum(11, [2, 6, 4, 2, 6, 1]) --> returns ```False```. The sequence must be continuous (next to each other), so even though 4 + 6 + 1 = 11, this is not continuous.

And the whole interview is only 30 minutes, so you have to figure it out quickly.

**Public Sample Input 1**
```python
guess_sum(11, [2, 5, 2, 4, 7, 3])
```
**Public Sample Output 1**
```python
True
```
--------------
**Public Sample Input 2**
```python
guess_sum(11, [2, 6, 4, 2, 6, 1])
```
**Public Sample Output 2**
```python
False
```
--------------

In [ ]:
# Your code here (make sure we define guess_sum function)
def guess_sum(num, my_list):
  # Your Code Here

In [ ]:
#@title Hidden Test Cases for guess_sum function (Just Run This Cell to get your score)
score = 0
test_cases= [
             (11, [2, 5, 2, 4, 7, 3], True),
             (11, [2, 6, 4, 2, 6, 1], False),
             (3, [4, 3, 2, 1, 5, 3], False),
             (3, [2, 6, 4, 1, 1, 1], True),
             (10, [6, 3, 2, 7, 1, 10], True),
             (7, [1, 3, 4, 5, 2, 7], False),
             (7, [1, 3, 2, 2, 2, 7], True),
             ]
for test_case in test_cases:
  try:
    assert (guess_sum(test_case[0], test_case[1])==test_case[2])
    print("You passed a test case:", test_case[:2])
    score +=1
  except:
    print("You failed a test case:", test_case[:2])
print("My total score is", score, "out of", len(test_cases))