# **PYTHON - Dictionary & Function**


<img src="https://i.redd.it/a2n75ff2gvk41.jpg" width=300>

#### Question 0

In [ ]:
def calculate_tax(N,status):

  if status == 'part-time':
    return N*0.1

  else :
    if N <= 10000000 :
      return 0
    elif N <= 15000000 :
      return N*0.05
    elif N <= 20000000 :
      return N*0.15
    elif N <= 30000000 :
      return N*0.2
    else :
      return N*0.35

calculate_tax(27000000,'full-time')

5400000.0

Write a simple function (**calculate_tax**) take N as a salary (VND) as an input to return the amount of tax you need to pay. The tax rules are different according to your employment status ("full-time" or "part-time")

Tax rules:
- part-time: 10% of the total salary
- full-time:
  - **<= 10 million**: 0% (no tax)
  - **10 million < salary <= 15 million**: tax is 5% of the total salary
  - **15 million < salary <= 20 million**: tax is 15% of the total salary
  - **25 million < salary <= 30 million**: tax is 20% of the total salary
  - **salary > 30 million**: tax is 35% of the total salary



  
#####Example input 1
```python
my_salary=5000000
employment_status="full-time"

tax = calculate_tax(my_salary, employment_status)

print(tax)
```

#####Example output 1
```python
0
```

-------------
#####Example input 2
```python
my_salary=5000000
employment_status="part-time"

tax = calculate_tax(my_salary, employment_status)

print(tax)
```

#####Example output 2
```python
500000
```

-------------
#####Example input 3
```python
my_salary=27000000
employment_status="full-time"

tax = calculate_tax(my_salary, employment_status)

print(tax)
```

#####Example output 2
```python
5400000
```

-------------

In [ ]:
# Your code here

def calculate_tax(my_salary, employment_status):

  if employment_status == 'part_time':
    return my_salary * 0.1
  else:
    if my_salary <= 10000000:
      return 0
    elif 10000000 < my_salary <= 15000000:
      return my_salary * 0.05
    elif 15000000 < my_salary <= 20000000:
      return my_salary * 0.15
    elif 20000000 < my_salary <= 30000000:
      return my_salary * 0.2
    else:
      return my_salary * 0.35

#### Question 1

Write a function take N as an input to return a dictionary like this!



  
#####Example input 1
```python
N = 3

new_dict = generate_dict(N)

print(new_dict)
```

#####Example output 1
```python
{'0': 0, '1': 1, '2': 2, '3':3}
```

-------------
#####Example input 2
```python
N = 5

new_dict = generate_dict(N)

print(new_dict)
```

#####Example output 2
```python
{'0': 0, '1': 1, '2': 2, '3':3, '4':4, '5':5}
```

-------------

In [ ]:
# Your code here

my_dict={}

def og_dict(N):
  for i in range(N+1):
    my_dict.update({str(i):i})
  return my_dict

og_dict(7)

{'0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7}

#### Question 2

Write a function ```create_phone_book``` take a list of names and a list of phone numbers as inputs and return a dictionary as a contact list



  
#####Example input 1
```python
name_list = ["Tom", "Ai", "Quan", "Chinh", "Nhan"]

phone_list = [123456, 3525234, 5463345, 234234, 756345]

# you need to define create_phone_book function before calling it
phone_book = create_phone_book(name_list, phone_list)

print(phone_book)
```

#####Example output 1
```python
{'Tom': 123456, 'Ai': 3525234, 'Quan': 5463345, 'Chinh': 234234, 'Nhan': 756345}
```

-------------
#####Example input 2
```python
name_list = ["Hieu", "Nick"]

phone_list = ["(+84)1435353", "(+61)54353345"]

# you need to define create_phone_book function before calling it
phone_book = create_phone_book(name_list, phone_list)

print(phone_book)
```

#####Example output 2
```python
{'Hieu': '(+84)1435353', 'Nick': '(+61)54353345'}
```

-------------

In [ ]:
# Your code here
name_list = ["Tom", "Ai", "Quan", "Chinh", "Nhan"]

phone_list = [123456, 3525234, 5463345, 234234, 756345]

phone_book=dict(zip(name_list,phone_list))

print(phone_book)

{'Tom': 123456, 'Ai': 3525234, 'Quan': 5463345, 'Chinh': 234234, 'Nhan': 756345}

#### Question 3

As you know, the president of USA is elected not by direct vote, but through a two-step voting. First elections are held in each state and determine the winner of elections in that state. Thereafter, the state election is going: in this election, every state has a certain the number of votes â€” the number of electors from that state. In practice, all the electors from the state of voted in accordance with the results of the vote within a state.

The first line contains the number of records. After that, each entry contains the name of the candidate and the number of votes they got in one of the states. Count the total results of the elections: sum the number of votes for each candidate. Print candidates in the alphabetical order.



  
#####Example input 1
```python
5
McCain 10
McCain 5
Obama 9
Obama 8
McCain 1
```

#####Example output 1
```python
McCain 16
Obama 17
```

-------------

#####Example input 2
```python
1
Obama 1
```

#####Example output 2
```python
Obama 1
```

-------------

#####Example input 3
```python
7
ivan 2
gena 1
sergey 100000
ivan 1
ivan 1
ivan 0
gena 100
```

#####Example output 3
```python
gena 101
ivan 4
sergey 100000
```

-------------

In [ ]:
# Your code here

can_vote=input('').split(' ')

x=list(enumerate(can_vote))

print(x)

ivan 2 gena 1 sergey 100000 ivan 1 ivan 1 ivan 0 gena 100
[(0, 'ivan'), (1, '2'), (2, 'gena'), (3, '1'), (4, 'sergey'), (5, '100000'), (6, 'ivan'), (7, '1'), (8, 'ivan'), (9, '1'), (10, 'ivan'), (11, '0'), (12, 'gena'), (13, '100')]

#### Question 4

Given a list of countries and cities of each country. Then given the names of the cities. For each city specify the country in which it is located.

Ukraine Kiev Donetsk Odessa

  
#####Example input 1
```python
2
USA Boston Pittsburgh Washington Seattle
UK London Edinburgh Cardiff Belfast
3
Cardiff
Seattle
London
```

#####Example output 1
```python
UK
USA
UK
```

-------------

#####Example input 2
```python
2
Russia Moscow Petersburg Novgorod Kaluga
Ukraine Kiev Donetsk Odessa
3
Odessa
Moscow
Novgorod
```

#####Example output 2
```python
Ukraine
Russia
Russia
```

-------------

In [ ]:
# Your code here

locate={}

country1_city=list(input().split(' '))
country2_city=list(input().split(' '))

for i in country1_city:
  locate[country1_city[0]]=country1_city[1:]

for k in country2_city:
  locate[country2_city[0]]=country2_city[1:]

city_check=list(input().split(' '))

for i in city_check:
  if i in locate.values():
    print(

Russia Moscow Petersburg Novgorod Kaluga
Ukraine Kiev Donetsk Odessa

dict_items([('Russia', ['Moscow', 'Petersburg', 'Novgorod', 'Kaluga']), ('Ukraine', ['Kiev', 'Donetsk', 'Odessa'])])

In [ ]:
num_countries = int(input("Enter the number of countries: "))
countries = []
cities = []

for _ in range(num_countries):
    country_input = input("Enter the country name followed by cities: ")
    country, city_list = country_input.split(maxsplit=1)
    countries.append(country)
    cities.append(city_list)

num_target_cities = int(input("Enter the number of target cities: "))
target_cities = []

for _ in range(num_target_cities):
    city = input("Enter the name of a target city: ")
    target_cities.append(city)

city_country_map = {}

for i in range(len(countries)):
    country = countries[i]
    city_list = cities[i].split()

    for city in city_list:
        city_country_map[city] = country

output = []

for city in target_cities:
  output.append(city_country_map[city])

for country in output:
  print(country)

#### Question 5

The text is given in a single line. For each word of the text count the number of its occurrences before it.



A word is a sequence of non-whitespace characters. Two consecutive words are separated by one or more spaces. Punctiation marks are a part of a word, by this definition.



  
#####Example input 1
```python
one two one tho three
```

#####Example output 1
```python
{'one': 2, 'tho': 1, 'three': 1, 'two': 1}
```

-------------

#####Example input 2
```python
AA aa Aa aA
```

#####Example output 2
```python
{'AA': 1, 'Aa': 1, 'aA': 1, 'aa': 1}
```

-------------

#####Example input 3
```python
To be or not to be that is the question Whether 'tis nobler in the mind to suffer
```

#####Example output 3
```python
{"'tis": 1,
 'To': 1,
 'Whether': 1,
 'be': 2,
 'in': 1,
 'is': 1,
 'mind': 1,
 'nobler': 1,
 'not': 1,
 'or': 1,
 'question': 1,
 'suffer': 1,
 'that': 1,
 'the': 2,
 'to': 2}
```

-------------

#####Example input 4
```python
She sells sea shells on the sea shore; The shells that she sells are sea shells I'm sure. So if she sells sea shells on the sea shore, I'm sure that the shells are sea shore shells.
```

#####Example output 4
```python
{"I'm": 2,
 'She': 1,
 'So': 1,
 'The': 1,
 'are': 2,
 'if': 1,
 'on': 2,
 'sea': 6,
 'sells': 3,
 'she': 2,
 'shells': 5,
 'shells.': 1,
 'shore': 1,
 'shore,': 1,
 'shore;': 1,
 'sure': 1,
 'sure.': 1,
 'that': 2,
 'the': 3}
```
-------------

In [ ]:
# Your code here

words=input().split(' ')

my_dict={}

for i in words:
  if i not in my_dict:
    my_dict[i]=1
  else :
    my_dict[i] = my_dict[i] + 1

for word in list(my_dict.keys()):
  print(word,';',my_dict[word])

She sells sea shells on the sea shore; The shells that she sells are sea shells I'm sure. So if she sells sea shells on the sea shore, I'm sure that the shells are sea shore shells.
She ; 1
sells ; 3
sea ; 6
shells ; 5
on ; 2
the ; 3
shore; ; 1
The ; 1
that ; 2
she ; 2
are ; 2
I'm ; 2
sure. ; 1
So ; 1
if ; 1
shore, ; 1
sure ; 1
shore ; 1
shells. ; 1

### Bonus Questions

#### CHALLENGE 1



<img src="https://retailminded.com/wp-content/uploads/2015/12/Receipt-1.jpg" width=400>

- **Situation**: Imagine you are a house husband/wife, you need to do grocery shopping everyday. It takes too much time to go through paper receipts and calculate how much you spend today (expense). So you need to digitize the paper receipt into a python dictionary.

- **Problem**: Write a function **add_product**:
  - Inputs:
    - An existing dictionary as a receipt
    - A product name (string)
    - A product price (number)
    - A product weight (number)
  - Outputs:
    - An dictionary as a receipt with that new information of that product
  
#####Example input 1
```python
# your existing dictionary receipt
receipt = {}

# call add_product function to add a new product into your dictionary
add_product(receipt, "milk", 20, 3)

print(receipt)
```

#####Example output 1
```python
{"milk": {"cost": 20, "weight": 3}}
```

-------------

#####Example input 2
```python
# your existing dictionary receipt
receipt = {"milk": {"cost": 20, "weight": 3}}

# call add_product function to add a new product into your dictionary
add_product(receipt, "rice", 40, 2)

print(receipt)
```

#####Example output 2
```python
{"milk": {"cost": 20, "weight": 3},
"rice": {"cost": 40, "weight": 2}}
```
-------------

In [ ]:
receipt = {}
# Your code here
# Define your add_product function here


# Try to call add_product function to add new product purchases into the receipt dictionary

#### CHALLENGE 2



<img src="https://www.mcgill.ca/oss/files/oss/styles/hd/public/receipts-1372960_1920.jpg?itok=x_cLVfa9&timestamp=1582660126" width=400>

- **Situation**: Imagine you are a house husband/wife, you need to do grocery shopping everyday. It takes too much time to go through paper receipts and calculate how much you spend today (expense). Luckily, you are able to digitize the paper receipt into a python dictionary. Now you just need to calculate the total price of that dictionary.

- **Problem**: Write a function **"calculate_receipt"** takes a receipt as a dictionary and return a dictionary of two things:
  - 1. "total_weight": The total price we have paid.
  - 2. "total_cost": The total weight of the products.

#####Example input 1
```python
receipt = {
  "milk": {"weight": 1, "cost": 30},
  "rice": {"weight": 2, "cost": 20},
  "cookie": {"weight": 3, "cost": 30},
  "sugar": {"weight": 1, "cost": 40},
}

result = calculate_receipt(receipt)

print(result)
```


#####Example output 1
```python
{"total_weight": 7, "total_cost": 120}
```

-------------

#####Example input 2
```python
receipt = {
  "tea": {"weight": 3, "cost": 20},
  "milk": {"weight": 2, "cost": 50},
  "coffee": {"weight": 1, "cost": 10}
}

result = calculate_receipt(receipt)

print(result)
```
#####Example output 2
```python
{"total_weight": 6, "total_cost": 80}
```
-------------

In [ ]:
receipt = {
  "milk": {"cost": 30, "weight": 1},
  "rice": {"cost": 20, "weight": 2},
  "cookie": {"cost": 30, "weight": 3},
  "sugar": {"cost": 40, "weight": 1},
}
# Your code here