# **Python Challenges - Lab Discussion**

Hello and welcome back to Python!

<img src="https://i.imgur.com/RutDdCg.jpg" width=400>

In the previous session, we have learnt and practiced about:

- What is variable and different data types in Python? (String vs Number)
- Number with math operations
- String and string slicing
- The `print()` and `input()` function.
- if/else condition
- List and list slicing
- For loop with "in" syntax

# 1. REVIEW

It's review time!

In [ ]:
# Create a list of days in week
week = ["Mon", "Tue", 'Wed']
# Checking length
len(week)

3

In [ ]:
# Indexing: Selecting an item by its index
week[1]

'Tue'

In [ ]:
# Slicing: Choose a range of items by its index
week[1:3]

['Tue', 'Wed']

In [ ]:
# Mutate: Change items value by its indexes
week[1]= "Tuesday"

In [ ]:
week

['Mon', 'Tuesday', 'Wed']

In [ ]:
# Create a list of numbers in a range
range(4,10)

range(4, 10)

In [ ]:
list(range(4,10))

[4, 5, 6, 7, 8, 9]

In [ ]:
# Concatenate 2 lists
["a","b"] + ["c","d"]

['a', 'b', 'c', 'd']

In [ ]:
# Append item into list
week.append("Friday")
week

['Mon', 'Tuesday', 'Wed', 'Friday']

In [ ]:
# Extend the list with multiple items
week.extend(["Saturday", "Sunday"])

week

In [ ]:
# Test membership
"Sunday" not in week

False

In [ ]:
# for loop in a list
for i in week:
  print(i)

Mon
Tuesday
Wed
Friday
Saturday
Sunday

In [ ]:
for i in range(len(week)):
  print(week[i])

Mon
Tuesday
Wed
Friday
Saturday
Sunday

# 2. Lab Discussion

## ðŸ˜„ String Challenges

### 0. The number of words

####Statement


Given a string consisting of words separated by spaces. Determine how many words it has. To solve the problem, use the method count.


####Example input 1
```
Hello world
```

####Example output 1
```
2
```

-------------

####Example input 2
```
Hello
```
####Example output 2
```
1
```
-------------

####Example input 3
```
One two three four five
```

####Example output 3
```
5
```

In [ ]:
# Your Code Here

### 1. To swap the two words

####Statement


Given a string consisting of exactly two words separated by a space. Print a new string with the first and second word positions swapped (the second word is printed first).


####Example input 1
```
Hello, world!
```

####Example output 1
```
world! Hello,
```

-------------

####Example input 2
```
QWERTYUIOP M
```

####Example output 2
```
M QWERTYUIOP
```

In [ ]:
# Your Code Here

### 2. The first and last occurrence

####Statement


Given a string that may or may not contain a letter of interest. Print the index location of the first and last appearance of f. If the letter f occurs only once, then output its index. If the letter f does not occur, then do not print anything.


####Example input 1
```
comfort
```

####Example output 1
```
3
```
-------------

####Example input 2
```
office
```

####Example output 2
```
1 2
```
-------------

####Example input 3
```
hello
```

####Example output 3
```
None
```
-------------

####Example input 4
```
afafafafafafafa
```

####Example output 4
```
1 13
```

In [ ]:
# Your Code Here

### 3. Reverse the fragment

####Statement


Given a string in which the letter h occurs at least two times, reverse the sequence of characters enclosed between the first and last appearances.

####Example input 1
```
In the hole in the ground there lived a hobbit
```

####Example output 1
```
In th a devil ereht dnuorg eht ni eloh ehobbit
```
-------------

####Example input 2
```
qwertyhasdfghzxcvb
```

####Example output 2
```
qwertyhgfdsahzxcvb
```
-------------
####Example input 3
```
ahcvbhs
```

####Example output 3
```
ahbvchs
```

In [ ]:
# Your Code Here

### 4. Delete every third character

####Statement


Given a string. Delete from it all the characters whose indices are divisible by 3.


####Example input 1
```
Python
```

####Example output 1
```
yton
```
-----------------
####Example input 2
```
abcdefg
```

####Example output 2
```
bcef
```
-----------------
####Example input 3
```
abcdefghijk
```

####Example output 3
```
bcefhik
```
-----------------

In [ ]:
# Your Code Here

## ðŸ˜† List Challenges

### 5. Even elements

####Statement


Given a list of numbers, find and print all elements that are an even number. In this case use a for-loop that iterates over the list, and not over its indices!

####Example input 1
```
1 2 2 3 3 3 4
```

####Example output 1
```
2 2 4
```
---------

####Example input 2
```
1 1 1 1 1 1 2
```

####Example output 2
```
2
```
---------

####Example input 3
```
44 -51 32 -60 -7 -67 62 91 26 -14
```

####Example output 3
```
44 32 -60 62 26 -14
```
---------

In [ ]:
# Your Code Here

### 6. Greater than previous

####Statement


Given a list of numbers, find and print all the elements that are greater than the previous element.


####Example input 1
```
1 5 2 4 3
```

####Example output 1
```
5 4
```
---------

####Example input 2
```
5 4 3 2 1
```

####Example output 2
```

```
---------

####Example input 3
```
-9 29 -100 64 26 73 -96 28 -92 11 -14 -86 -54 -67
```

####Example output 3
```
29 64 73 28 11 -54
```
---------

In [ ]:
# Your Code Here

### 7. The largest element

####Statement


Given a list of numbers. Determine the element in the list with the largest value. Print the value of the largest element and then the index number. If the highest element is not unique, print the index of the first instance.


####Example input 1
```
1 2 3 2 1
```

####Example output 1
```
3 2
```
---------

####Example input 2
```
1 2 3 4 5
```

####Example output 2
```
5 4
```
---------

####Example input 3
```
-100 -100 -100 -100 -100
```

####Example output 3
```
-100 0
```
---------

In [ ]:
# Your Code Here

### 8. Swap min and max

####Statement


Given a list of unique numbers, swap the minimal and maximal elements of this list. Print the resulting list.


####Example input 1
```
3 4 5 2 1
```

####Example output 1
```
3 4 1 2 5
```
---------

####Example input 2
```
1 5 4 3 2
```

####Example output 2
```
5 1 4 3 2
```
---------

####Example input 3
```
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 17 16 15 14
```

####Example output 3
```
18 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 1 17 16 15 14
```
---------

In [ ]:
numbers = input("Enter a list of unique numbers: ")

numbers = numbers.split()

numbers = [int(num) for num in numbers]

if not numbers:
    print("Empty list!")
else:
    min_index = numbers.index(min(numbers))
    max_index = numbers.index(max(numbers))

    numbers[min_index], numbers[max_index] = numbers[max_index], numbers[min_index]

    print("Result:", numbers)

Enter a list of unique numbers: 1 2 3 4
Result: [4, 2, 3, 1]

## ðŸ¤£ Loop Challenges

### 9. Series

####Statement


Given two integers A and B. Print all numbers from A to B inclusively, in ascending order, if A < B, or in descending order, if A â‰¥ B.

####Example input 1
```
1
10
```

####Example output 1
```
1 2 3 4 5 6 7 8 9 10
```
---------

####Example input 2
```
10
1
```

####Example output 2
```
10 9 8 7 6 5 4 3 2 1
```
---------

####Example input 3
```
12
-5
```

####Example output 3
```
12 11 10 9 8 7 6 5 4 3 2 1 0 -1 -2 -3 -4 -5
```
---------

In [ ]:
# Your Code Here

def print_numbers(A, B):
    if A < B:
        for num in range(A, B+1):
            print(num, end=' ')
    else:
        for num in range(A, B-1, -1):
            print(num, end=' ')

A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))

print("Numbers from A to B:")
print_numbers(A, B)

Enter the value of A: 12
Enter the value of B: -5
Numbers from A to B:
12 11 10 9 8 7 6 5 4 3 2 1 0 -1 -2 -3 -4 -5

### 10. Sum of cubes

####Statement


For the given integer N calculate the following sum:

$1^3+2^3+â€¦+N^3$



####Example input 1
```
3
```

####Example output 1
```
36
```
---------

####Example input 2
```
4
```

####Example output 2
```
100
```
---------

####Example input 3
```
8
```

####Example output 3
```
1296
```
---------

In [ ]:
# Your Code Here

### 11. Factorial

####Statement


n mathematics, the factorial of an integer n, denoted by n! is the following product:

$n!=1Ã—2Ã—â€¦Ã—n$

For the given integer n calculate the value n!. Don't use math module in this exercise.


####Example input 1
```
4
```

####Example output 1
```
24
```
---------

####Example input 2
```
1
```

####Example output 2
```
1
```
---------

####Example input 3
```
5
```

####Example output 3
```
120
```
---------

In [ ]:
# Your Code Here

### 12. Lost card

####Statement


There was a set of cards with numbers from 1 to N. One of the card is now lost. Determine the number on that lost card given the numbers for the remaining cards.

Given a number N, followed by N âˆ’ 1 integers - representing the numbers on the remaining cards (distinct integers in the range from 1 to N). Find and print the number on the lost card.


####Example input 1
```
5
1
2
3
4
```

####Example output 1
```
5
```
---------

####Example input 2
```
5
3
5
2
1
```

####Example output 2
```
4
```
---------

####Example input 3
```
4
3
2
4
```

####Example output 3
```
1
```
---------
####Example input 4
```
10
4
1
7
8
3
5
9
10
6
```

####Example output 4
```
2
```

In [ ]:
N = int(input())
cards = []

for _ in range(N-1):
    card = int(input())
    cards.append(card)

missing_card = 0
for i in range(1, N+1):
    if i not in cards:
        missing_card = i


print("Lost card number:", missing_card)

## When should we buy stock?

### Statement

You are given an array prices where prices[i] is the price of a given stock on the ith day.

You want to maximize your profit by choosing a single day to buy one stock and choosing a different day in the future to sell that stock.

Return the maximum profit you can achieve from this transaction. If you cannot achieve any profit, return 0.

#### Example 1

Input: prices = [7,1,5,3,6,4]
Output: 5

Explanation: Buy on day 2 (price = 1) and sell on day 5 (price = 6), profit = 6-1 = 5.

Note that buying on day 2 and selling on day 1 is not allowed because you must buy before you sell.

In [ ]:
# Your Code Here